@use "@/styles/abstracts/variables" as v;

.progress {
  display: flex;
  gap: v.$space-md;
}

.progress__step {
  width: 12px;
  height: 12px;
  border: 2px solid v.$color-border;
  border-radius: 50%;
}
