// Breakpoints similar to Bootstrap
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

@mixin respond-sm { @media (min-width: $breakpoint-sm) { @content; } }
@mixin respond-md { @media (min-width: $breakpoint-md) { @content; } }
@mixin respond-lg { @media (min-width: $breakpoint-lg) { @content; } }
@mixin respond-xl { @media (min-width: $breakpoint-xl) { @content; } }
