@use "sass:map";

// Centralized breakpoint map
$breakpoints: (
  xs: 360px,
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1536px,
);

// Getter function
@function bp($size) {
  @return map.get($breakpoints, $size);
}
