@use "breakpoints" as bp;

// Universal responsive mixin using the breakpoint map
@mixin respond($size) {
  @media (min-width: bp.bp($size)) {
    @content;
  }
}

// convenience mixins
@mixin respond-sm {
  @include respond(sm) {
    @content;
  }
}

@mixin respond-md {
  @include respond(md) {
    @content;
  }
}

@mixin respond-lg {
  @include respond(lg) {
    @content;
  }
}

@mixin respond-xl {
  @include respond(xl) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}