@use "@/styles/abstracts/variables" as v;

.border {
  border: 1px solid #ccc;
}

.border-0 {
  border: none;
}

.rounded {
  border-radius: 4px;
}

.rounded-sm {
  border-radius: 2px;
}

.rounded-lg {
  border-radius: 8px;
}

.rounded-xl {
  border-radius: 12px;
}
