@use "@/styles/abstracts/variables" as v;
@use "@/styles/abstracts/mixins" as m;

// spacing scale
$space-scale: (
  0: 0,
  1: 4px,
  2: 8px,
  3: 12px,
  4: 16px,
  5: 24px,
  6: 32px,
);

@each $key, $val in $space-scale {
  /* Margin */
  .m-#{$key} {
    margin: $val;
  }

  .mt-#{$key} {
    margin-top: $val;
  }

  .mb-#{$key} {
    margin-bottom: $val;
  }

  .ml-#{$key} {
    margin-left: $val;
  }

  .mr-#{$key} {
    margin-right: $val;
  }

  .my-#{$key} {
    margin-top: $val;
    margin-bottom: $val;
  }

  .mx-#{$key} {
    margin-left: $val;
    margin-right: $val;
  }

  /* Padding */
  .p-#{$key} {
    padding: $val;
  }

  .pt-#{$key} {
    padding-top: $val;
  }

  .pb-#{$key} {
    padding-bottom: $val;
  }

  .pl-#{$key} {
    padding-left: $val;
  }

  .pr-#{$key} {
    padding-right: $val;
  }

  .py-#{$key} {
    padding-top: $val;
    padding-bottom: $val;
  }

  .px-#{$key} {
    padding-left: $val;
    padding-right: $val;
  }
}
