@use "@/styles/abstracts/variables" as v;

/* ----------------------------------------
   WEB-SAFE FONT
---------------------------------------- */

/* Default */
.font-sans {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.font-serif {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

/* set default body font here */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
}

/* ----------------------------------------
   FONT SIZES
---------------------------------------- */

.text-xs {
  font-size: v.$font-xs;
}

.text-sm {
  font-size: v.$font-sm;
}

.text-base {
  font-size: v.$font-base;
}

.text-lg {
  font-size: v.$font-lg;
}

.text-xl {
  font-size: v.$font-xl;
}

.text-2xl {
  font-size: v.$font-2xl;
}

.text-3xl {
  font-size: v.$font-3xl;
}

.text-4xl {
  font-size: v.$font-4xl;
}

/* ----------------------------------------
   FONT WEIGHTS
---------------------------------------- */

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

/* ----------------------------------------
   LINE HEIGHT
---------------------------------------- */

.leading-none {
  line-height: 1;
}

.leading-tight {
  line-height: 1.2;
}

.leading-normal {
  line-height: 1.5;
}

.leading-loose {
  line-height: 1.75;
}
