@use "@/styles/abstracts/variables" as v;
@use "@/styles/abstracts/mixins" as m;

.text-center {
  text-align: center;
}

.text-muted {
  color: v.$gray-600;
}

.w-full {
  width: 100%;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}
